<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel='shortcut icon' type='image/png' href='/images/favicon-32x32.png' />


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- main.css stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>
    <div class="container">

        <header class="pt-5 pb-3">

            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-12 text-center">
                    <a class="blog-header-logo text-dark">
                        <h1>Cait Martin Newnham</h1>
                    </a>
                </div>
            </div>

        </header>

        <nav class="nav d-flex justify-content-center align-items-center nav-scroller pb-5 mb-2">
            <a class="p-2 text-muted" href="/" target="_self">Portfolio</a>
            <a class="p-2 text-muted active" href="/about" target="_self">About</a>
        </nav>

        <main>

            <!-- ABOUT -->
            <section id="projects" class=" py-5 py-md-3 container-fluid">
                <div class="row justify-content-center my-2 pt-2 pb-5 border-bottom">
                    <div class="col-xl-3 col-lg-3 col-m-3 col-sm-12 col-12">
                        <img src="/images/headshot-cmn-1.png" class="img-fluid rounded mb-4" alt="Responsive image">
                    
                    </div>
                    <div class="col-xl-9 col-lg-9 col-m-9 col-sm-12 col-12">
                        <h1>Hi, I'm Cait</h1>
                        <p>Software development has been an interest and hobby of mine for many years, and I finally have the opportunity to pursue it as a career. I'm currently enrolled in Oregon State University for a Bachelor of Science in Computer Science and looking for opportunities to apply my skills. </p>
                        <p>I believe that I offer a unique perspective because I have already completed post-secondary education and have had a successful career working in several different roles and fields.</p>                    
                        <p>My goal is to join a collaborative team and contribute to the development of solutions to challenging problems. 
                    </div>

                </div>
                <div class="row justify-content-center my-2 py-2">
                    
                    <div class="col-12">

                        <!-- EXPERIENCE -->
                        <h2 class="mt-5">Experience</h2>
                    
                        <h3 class="mt-4">Design Director</h3>
                        <p class="mb-2 text-muted"><i>Nellie Health</i></p>
                        <ul>
                            <li>Established agile workflows and onboarded 10-person team.</li>
                            <li>Designed and prototyped 20+ intuitive user interfaces.</li>
                            <li>Assisted with competitor analysis, product development, and scaling operations.</li>
                        </ul>
                    
                        <h3 class="mt-4">Project Manager</h3>
                        <p class="mb-2 text-muted"><i>TULiP Lab, York University</i></p>
                        <ul>
                            <li>Devised a data-driven, 17-channel marketing strategy resulting in a 124% increase in signups for a clinical
                                research study.</li>
                            <li>Redesigned, prototyped and developed a clinical research marketing website using Javascript, HTML and CSS to
                                improve
                                user interaction and user experience, leading to a 20% increase in new users.</li>
                        </ul>
                    
                        <h3 class="mt-4">Web Developer & Designer</h3>
                        <p class="mb-2 text-muted"><i>Freelance</i></p>
                        <ul>
                            <li>Developed websites, including an 8-page
                                e-commerce website,
                                using Javascript, HTML, CSS and Liquid.</li>
                            <li>Designed a process for efficiently developing and presenting brand systems and and high-fidelity website
                                prototypes in
                                Figma and Adobe Illustrator.</li>
                        </ul>
                    
                        <h3 class="mt-4">Producer</h3>
                        <p class="mb-2 text-muted"><i>Media One Creative</i></p>
                        <ul>
                            <li>Initiated and implemented planning and analysis process resulting in revenue delivered increasing by 400%.
                            </li>
                            <li>Researched, produced and directed two award-winning brand documentary films shot in seven countries,
                                involved complex
                                scientific and political content, and appeared in nine film festivals, including the 2020 Santa Barbara
                                International
                                Film Festival.</li>
                        </ul>
                    
                        <h3 class="mt-4">Project Manager</h3>
                        <p class="mb-2 text-muted"><i>Red Nucleus (formerly INVIVO Communications)</i></p>
                        <ul>
                            <li>Led a team to produce an educational game recognized as an innovative and pioneering initiative in a 2018
                                report by the Canada-U.S. Council for Advancement of Women Entrepreneurs and Business Leaders.</li>
                            <li>Created digital illustrations for educational games in Adobe Illustrator and formatted as production-ready
                                graphics in
                                XML.</li>
                            <li>Spearheaded usability testing with five users for an e-learning platform, leading to significant
                                improvements to user
                                interaction and user experience.</li>
                        </ul>
                    
                    

                    
                        
                        <!-- EDUCATION -->
                        <h2 class="mt-5">Education</h2>
                        
                        <h3 class="mt-4">Bachelor of Science in Computer Science</h3>
                        <p class="mb-2 text-muted">Expected Graduation December 2025</p>
                        <p class="mb-2 text-muted"><i>Oregon State University, College of Engineering</i></p>
                        <p>GPA: 4.0</p>
                        
                        <h3 class="mt-4">Master of Journalism</h3>
                        <p class="mb-2 text-muted"><i>Toronto Metropolitan University</i></p>
                        <p>Graduate Fellowship</p>
                        
                        <h3 class="mt-4">Bachelor of Science in Medical Science and Psychology</h3>
                        <p class="mb-2 text-muted"><i>University of Western Ontario</i></p>
                        
                        <h3 class="mt-4">Certificate in Writing</h3>
                        <p class="mb-2 text-muted"><i>University of Western Ontario</i></p>
                        <p>Graduated with distinction</p>

                        <!-- SKILLS -->
                        <h2 class="mt-5">Skills</h2>
                        
                        <h3 class="mt-4">Programming Languages</h3>
                        <p>Javascript, Python, HTML, CSS, SQL, XML, TypeScript</p>
                        
                        <h3 class="mt-4">Technical Skills</h3>
                        <p>Project Management, Product Management, Product Design, Usability Testing, Full-Stack Development,
                        Technical Writing, Prototyping</p>
                        
                        <h3 class="mt-4">Languages</h3>
                        <p>English (Native), French (Basic)</p>    
                        
                </div>
                
            </section>

            <!-- Contact -->
            <section id="contact" class="py-2 my-3">
                <div class="row justify-content-center d-flex my-5 py-5">
                    <div class="col-12">

                        <div class="row border-top pt-5">
                            <i class="bi bi-github pl-3 pr-3 pb-3"></i>
                            <a href="https://github.com/helloiamcait">helloiamcait</a>
                        </div>

                        <div class="row">
                            <i class="bi bi-envelope pl-3 pr-3"></i>
                            <a href="mailto:hello@iamcait.com">hello@iamcait.com</a>
                        </div>
                    </div>

                </div>
            </section>
        </main>

    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>