<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel='shortcut icon' type='image/png' href='/images/favicon-32x32.png' />


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- main.css stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>
    <div class="container">

        <header class="pt-5 pb-3">

            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-12 text-center">
                    <a class="blog-header-logo text-dark">
                        <h1>Cait Martin Newnham</h1>
                    </a>
                </div>
            </div>

        </header>

        <nav class="nav d-flex justify-content-center align-items-center nav-scroller pb-5 mb-2">
            <a class="p-2 text-muted" href="/" target="_self">Portfolio</a>
            <a class="p-2 text-muted active" href="/about" target="_self">About</a>
        </nav>

        <main>

            <!-- ABOUT -->
            <section id="about" class=" py-5 py-md-3 container-fluid">
                <div class="row justify-content-center pb-5">
                    <div class="col-xl-3 col-lg-3 col-m-3 col-sm-12 col-12">
                        <img src="/images/headshot-cmn-1.png" class="img-fluid rounded mb-2" alt="Responsive image">
                    
                    </div>
                    <div class="col-xl-9 col-lg-9 col-m-9 col-sm-12 col-12">
                        <h1>Hi, I'm Cait</h1>
                        <p>After years of building things for fun, I’m now building them for real.</p>
                        <p>I’m a software engineer with a background in product design, project management, and media production—now pursuing a
                        BSc in Computer Science at Oregon State University. My path has taken me from designing research-backed mental health
                        platforms to producing national ad campaigns, and today, I’m channeling that experience into creating thoughtful,
                        scalable software.</p>                    
                        <p>I thrive in collaborative environments, especially when tackling complex problems that require both creativity and
                        technical precision. I’m especially drawn to product-focused development that empowers people—whether it's merchants,
                        makers, or teams—with tools that just work.</p>

                        <p class="mt-4"><b>Currently...</b></p>
                        <p class="mb-2">🎓 Studying Computer Science at Oregon State University</p>
                        <p class="mb-2">🧑‍💻 Building a Shopify app that helps merchants monitor low-inventory products</p>
                        <p class="mb-2">💡 Learning more about backend architecture, GraphQL, and scaling small tools for real use</p>
                        <p class="mb-2">🌱 Trying to grow as a developer and team contributor, every day</p>
                    </div>

                </div>
            </section>

            <!-- Contact -->
            <section id="contact" class="py-2 my-3">
                <div class="row justify-content-center d-flex my-5 py-5">
                    <div class="col-12">

                        <div class="row border-top pt-5">
                            <i class="bi bi-github pl-3 pr-3 pb-3"></i>
                            <a href="https://github.com/helloiamcait">helloiamcait</a>
                        </div>

                        <div class="row">
                            <i class="bi bi-envelope pl-3 pr-3"></i>
                            <a href="mailto:hello@iamcait.com">hello@iamcait.com</a>
                        </div>
                    </div>

                </div>
            </section>
        </main>

    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>