<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cait Martin Newnham</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- main.css stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mt-2 mt-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-me">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        
        <div class="jumbotron jumbotron-image text-center mb-2" style="background-image: url(
        /images/header.jpg
        );" alt="Hello, I am Cait.">
            
        </div>
    </header>
            <main>
                <!-- ABOUT ME -->
                <section id="about-me" class=" py-5  py-md-3" >
                    <div class="row justify-content-center py-5">
                        <div class="col-10">
                            <div class="mb-4">
                                <h2 class="pb-2">About Me</h2>
                                <lead class="text-muted">Before diving into software engineering, my career path has meandered through documentary filmmaking, clinical psychology research, computer game project management and design. This eclectic mix has equipped me with a unique set
                                of skills and perspectives. I approach problem-solving with creativity, empathy, and an
                                interdisciplinary mindset that I believe are my strengths in this new adventure.</lead>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- PORTFOLIO -->
                <section id="portfolio" class=" py-5 py-md-3 blue-bg">
                    <div class="row justify-content-center my-5 py-5">
                        <div class="col-10">
                            <div class="mb-4">
                                <h2 class="pb-2">Portfolio</h2>
                                <lead class="text-muted">My portfolio reflects my initial steps in learning to code and develop applications. Each project builds upon the last as I learn. From simple web pages to small
                                    applications, these projects represent my journey of growth and exploration in the digital realm.</lead>
                            </div>
                            <div class="card-columns">
                                <div class="card p-3">
                                    <img src="/images/quick-book-search.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Quick Book Search</h5>
                                        <p class="card-text">This is a website I created using the <a href="https://openlibrary.org/" target="_blank">Open Library</a> API. Quick Book Search helps you find top authors of niche genres. Authors are listed in alphabetical order to make it easier to scan library and bookstore bookshelves.</p>
                                        <a href="https://book-search.iamcait.com/" class="stretched-link" target="_blank"></a>
                                    </div>
                                </div>
                                <div class="card p-3">
                                    <blockquote class="blockquote mb-0 card-body">
                                        <p>If I had an hour to solve a problem I'd spend 55 minutes thinking about the problem and 5 minutes thinking about
                                        solutions.</p>
                                        <footer class="blockquote-footer">
                                            <small class="text-muted">
                                                Albert Einstein
                                            </small>
                                        </footer>
                                    </blockquote>
                                </div>
                                <div class="card p-3">
                                    <img src="/images/couple-hopes.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Couple HOPES</h5>
                                        <p class="card-text">Couple Hopes is an online intervention for PTSD symptoms. I redesigned, prototyped, developed, and wrote copy for theirg website, which led to a 124% increase in study sign-ups.</p>
                                        <a href="https://couplehopes.com/" class="stretched-link" target="_blank"></a>
                                    </div>
                                </div>
                                <div class="card p-3">
                                    <img src="/images/shopify-site.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Dr. Candice Monson</h5>
                                        <p class="card-text">This is a portfolio and e-commerce website I designed and developed for Dr. Candice Monson, a clinical psychologist. The website showcases her accomplishments and affiliations, and is a platform for seling tickets to her workshops.</p>
                                        <a href="https://candicemonson.com/" class="stretched-link" target="_blank"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Contact -->
                <section id="contact" class="py-5  py-md-3">
                    <div class="row justify-content-center d-flex my-5 py-5">
                        <div class="col-10 ">
                            <div class="mb-4">
                                <h2 class="pb-2">Contact</h2>
                            </div>
                            <div class="row">
                                <i class="bi bi-github pr-3 pb-3"></i>
                                <a href="https://github.com/helloiamcait">helloiamcait</a>
                            </div>
                            <div class="row">
                                <i class="bi bi-envelope pr-3"></i>
                                <a href="mailto:hello@iamcait.com">hello@iamcait.com</a>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </main>
 
            
    



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>