<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cait Martin Newnham</title>
    <link rel='shortcut icon' type='image/png' href='/images/favicon-32x32.png' />


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- main.css stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
    <div class="container">
    
        <header class="pt-5 pb-3">
        
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-12 text-center">
                    <a class="blog-header-logo text-dark">
                        <h1>Cait Martin Newnham</h1>
                    </a>
                </div>
            </div>
        
        </header>
        
        <nav class="nav d-flex justify-content-center align-items-center nav-scroller pb-2 mb-2">
            <a class="p-2 text-muted active" href="/" target="_self">Portfolio</a>
            <a class="p-2 text-muted" href="/about" target="_self">About</a>
        </nav>

        <main>
            
            <!-- PROJECTS -->
            <section id="projects" class=" py-5 py-md-3 ">
                <div class="row justify-content-center my-2 py-2">
                    <div class="col-12">
                        
                        <div class="card-columns">
                            <div class="card p-3">
                                <img src="/images/screenshot-normal.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Chess with Fog of War Feature</h5>
                                    <span class="badge badge-pill badge-fullstack">Full-Stack</span>
                                    <span class="badge badge-pill badge-python">Python</span>
                                    <span class="badge badge-pill badge-game">Game</span>


                                    <div class="row pt-4">
                                        <i class="bi bi-github pl-3 pr-2 pb-3"></i>
                                        <a href="https://github.com/helloiamcait/chess_game" target="_blank">Visit project repository</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-3">
                                <img src="/images/connect-four.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Connect 4</h5>
                                    <span class="badge badge-pill badge-fullstack">Full-Stack</span>
                                    <span class="badge badge-pill badge-js">JavaScript</span>
                                    <span class="badge badge-pill badge-game">Game</span>
                                    <span class="badge badge-pill badge-uiux">UI/UX</span>
                                    


                                    <div class="row pt-4">
                                        <i class="bi bi-github pl-3 pr-2 pb-3"></i>
                                        <a href="https://github.com/helloiamcait/connect-four" target="_blank">Visit project repository</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-3">
                                <img src="/images/Screenshot-exercise-tracker.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Exercise Tracker</h5>
                                    <span class="badge badge-pill badge-fullstack">Full-Stack</span>
                                    <span class="badge badge-pill badge-uiux">UI/UX</span>
                                    <span class="badge badge-pill badge-accessibility">Accessibility</span>
                                    <div class="row pt-4">
                                        <i class="bi bi-link-45deg pl-3 pr-2 pb-1"></i>
                                        <a href="https://github.com/helloiamcait/exercise-tracker" target="_blank">Visit project repository</a>
                                    </div>
                            
                                </div>
                            </div>

                            <div class="card p-3">
                                <img src="/images/Screenshot-low-inventory-monitor-app copy.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Shopify Inventory Monitor App</h5>
                                    <span class="badge badge-pill badge-fullstack">Full-Stack</span>
                                    <span class="badge badge-pill badge-shopify">Shopify</span>
                                    <span class="badge badge-pill badge-api">API Integration</span>
                                    <span class="badge badge-pill badge-data">Data-Driven</span>
                                    <div class="row pt-4">
                                        <i class="bi bi-github pl-3 pr-2 pb-3"></i>
                                        <a href="https://github.com/helloiamcait/shopify-inventory-monitor-app" target="_blank">Visit project repository</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card p-3">
                                <img src="/images/shopify-site.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Dr. Candice Monson</h5>
                                    <span class="badge badge-pill badge-frontend">Frontend</span>
                                    <span class="badge badge-pill badge-shopify">Shopify</span>
                                    <span class="badge badge-pill badge-liquid">Liquid</span>
                                    <span class="badge badge-pill badge-ecommerce">E-commerce</span>
                                    <span class="badge badge-pill badge-uiux">UI/UX</span>
                                    <span class="badge badge-pill badge-accessibility">Accessibility</span>

                            
                                    <div class="row pt-4">
                                        <i class="bi bi-link-45deg pl-3 pr-2 pb-1"></i>
                                        <a href="https://candicemonson.com/" target="_blank">Visit website</a>
                                    </div>
                            
                                </div>
                            </div>

                            <div class="card p-3">
                                <img src="/images/couple-hopes.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Couple HOPES</h5>
                                    <span class="badge badge-pill badge-fullstack">Full-Stack</span>
                                    <span class="badge badge-pill badge-uiux">UI/UX</span>
                                    <span class="badge badge-pill badge-accessibility">Accessibility</span>
                                    <span class="badge badge-pill badge-js">JavaScript</span>

                                    
                                    <div class="row pt-4">
                                        <i class="bi bi-link-45deg pl-3 pr-2 pb-1"></i>
                                        <a href="https://couplehopes.com/" target="_blank">Visit website</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>



            <!-- Contact -->
            <section id="contact" class="py-5  py-md-3">
                <div class="row justify-content-center d-flex my-5 py-5">
                    <div class="col-12">
                        <h2 class="pb-3 mb-4 font-italic border-bottom">Contact</h2>
                        
                        <div class="row">
                            <i class="bi bi-github pl-3 pr-3 pb-3"></i>
                            <a href="https://github.com/helloiamcait">helloiamcait</a>
                        </div>
                        
                        <div class="row">
                            <i class="bi bi-envelope pl-3 pr-3"></i>
                            <a href="mailto:hello@iamcait.com">hello@iamcait.com</a>
                        </div>

                        <!-- <div class="row pl-3 pt-4">
                            <img src="https://www.codewars.com/users/cmartinn/badges/small"></img>
                        </div> -->
                    </div>
                    
                </div>
            </section>
        </main>
 
    </div>
    
    


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>