body {
    color: #3D4851;
}

h1,
h2,
h3,
h5 {
    font-family: "Playfair Display",
            Georgia,
            "Times New Roman",
            serif;
            font-weight: 500
            ;
}

h3 {
    font-size: 1.25rem;
}



a {
    color: #5F7E9A;
}

a:hover {
    color: #3D4851;
    text-decoration: none;
}

.bg-white {
    opacity: 96%;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.nav-link {
    color: #5F7E9A !important;
}

nav {
    a.active {
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-color: #e5e5e5;
    }
    a:hover {
        text-decoration: underline;
        text-underline-offset: 6px;
    }
}

/* .jumbotron {
    height: 30vh;
}

.jumbotron-image {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

} */
.emphasize {
    font-family: "Playfair Display",
        Georgia,
        "Times New Roman",
        serif;
        font-weight: 700 ;
       
}

.active {
    text-decoration: underline;
}

.mobile-header {
    display: none;
}

.main-header {
    font-weight: 300;
    font-size: 4rem;
}

.color-card {
    background-color: #8ca5bb;
    border-color: #8ca5bb;
}

section {
    scroll-behavior: smooth;
}

.lg-lead {
    font-size: 3em;
}

.md-lead {
    font-size: 2em;
}

.sm-lead {
    font-size: 1.5em;
}

.blue-bg {
    background-color: #e5eef9;
}

.card {
    border-radius: .25rem;
    border-color: none;
}

.card-columns {
    column-count: 2;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 500 !important;
}



@media (max-width: 768px) {
    .card-columns {
        column-count: 1;
    }

}